name: qcf_quran_example
description: A new Flutter project demonstrating the qcf_quran package.
version: 1.0.0+1

environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  # Using path dependency is intentional for example app to test local package
  qcf_quran:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true